body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root { height: 100%;}
  
.App {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}
.App header {
  background-color: burlywood;
}

h3, h5 {
  margin: 0.6em;
  text-align: center;
}

.App main {
  margin: auto;
}

.random-elements {
  text-align: center;
  margin: auto;
  min-width: 30vw;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.board-container table {
  margin: auto;
  border-collapse: collapse;
  border: 2px solid;
}
.board-container table td {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 1px solid;
}
.board-container .entrada-salida,
.board-container .entrada-salida td {
  border-color: transparent;
}

.elements {
  border-collapse: collapse;
  width: 100%;
}
.elements tr td {
  padding: 0px;
}
.elements tr td div.element-col {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 1px solid;
  border-collapse: collapse;
  background-color: white;
}
.elements tr td div.element-col.null {
  border: 0px;
  background-color: transparent;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.square.🟫 {
  font-size: 0;
  background: saddlebrown;
}

.forbidden {
  background-color: rgba(255, 0, 0, 0.5);
}

.permitted {
  background-color: rgba(0, 255, 0, 0.5);
}

.messages {
  display: flex;
  justify-content: space-between;
}
.messages div {
  margin: 0.5em;
}
.messages .text {
  border: 1px solid burlywood;
  border-radius: 0.3rem;
  flex: 1;
}

.turns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.turns h5 {
  border: 1px solid green;
  border-radius: 2em;
  padding: 1em;
}

@media (orientation: landscape) { 
  .ui {
    display: flex;
  }
  .random-elements {
    height: auto;
  }
  .turns {
    margin: 1em;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  max-width: 500px;
  background-color: white;
  border-radius: 0.3em;
  margin: 1em;
  transform: translateY(-200px);
  transition: all 0.2s ease-in-out;
}
.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header, .modal-footer {
  padding: 1em;
  text-align: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.share-board {
  white-space: pre-line;
  text-align: center;
  font-size: x-large;
}

.twitter-color {
  color: rgb(29, 155, 240);
}
.twitter-bg {
  background: rgb(29, 155, 240);
}