body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root { height: 100%;}
  
.App {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}
.App header {
  background-color: burlywood;
}

h3, h5 {
  margin: 0.6em;
  text-align: center;
}

.App main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
}

.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 30%; */
  flex: 1;
}

.random-elements {
  text-align: center;
  margin: auto;
}
.random-elements .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-container table {
  border-collapse: collapse;
  border: 2px solid;
}
.board-container table td {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 1px solid;
}
.board-container .entrada-salida,
.board-container .entrada-salida td {
  border-color: transparent;
}

.elements {
  border-collapse: collapse;
  width: 100%;
}
.elements tr td {
  padding: 0px;
}
.elements tr td div.element-col {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 1px solid;
  border-collapse: collapse;
  background-color: white;
}
.elements tr td div.element-col.null {
  border: 0px;
  background-color: transparent;
}

.levels {
  margin: 1em;
}
.levels .container {
  display: flex;
}
.levels .container .square {
  margin: 0.5em;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.forbidden {
  background-color: rgba(255, 0, 0, 0.5);
}

.permitted {
  background-color: rgba(0, 255, 0, 0.5);
}

.messages {
  display: flex;
}
.messages div {
  margin: 1em;
}
.messages .text {
  border: 1px solid burlywood;
  border-radius: 0.3rem;
}
.messages .turns {
  border: 1px solid green;
  border-radius: 2em;
}

@media (orientation: landscape) { 
  .App main {
    flex-direction: row;
  }
  .ui {
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: space-around;
  }
  .levels .container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .ui {
    height: 350px;
  }
}